//- -*- mode:jade; coding: utf-8 -*-
//- Copyright (C) 2013 Jörg Engelhart
extends layout
block content
  div.container-fluid#app
    h1 Bread Board Berry
    div.row-fluid
      div.row-fluid#led(style="display:none")
        h2 LED
          div.btn-group(data-toggle="buttons-radio")
            button.btn.btn-small#on(data-toggle="button") On
            button.btn.btn-small#off(data-toggle="button") Off
            //- button.btn.btn-small#blink(data-toggle="button") Blink
      div.row-fluid#switch(style="display:none")
        h2 Switch
        h1#sw XXX
block scripts
  script(type="text/javascript", src="/ac.js")
