/* -*- mode:jade; coding: utf-8 -*- */
/* Copyright (C) 2013 Jörg Engelhart */

body
  background-color #e3ddddff
  font 18px Helvetica

a
  color inherit

td
  vertical-align top
  padding-right 10px

td.head
  padding-bottom 10px

div.right
  float right

div.clear
  clear both

div.banner
  float left
  padding 50px

div#main
  background-color #ffffdf
  border-radius 15px
  width 760px
  margin 50px
  padding 50px
  border 50px
  min-height 300px

div#anylogo
  background #d40000ff
  color #ffffff
  border-radius 15px
  font-size 64px
  padding-top 30px
  padding-bottom 30px
  padding-left 50px

div#logo, div#anylogo a
  text-decoration none

div#menu
  float right

div#content
  min-height 300px

div#footer
  font-size 14px
  float bottom

img#logo
  background #ffffdf
